// Custom styles.
// 小代码块的样式
code {
    color: #ff7600;         // 字体颜色
    background: #fbf7f8;    // 背景色
    margin: 2px;            // 和相邻元素的间距
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    background: #FDF6E4     // 代码块背景色
    // color: #F5390F;      // 字体颜色
}
// 代码前景色
.highlight .code pre {
  background: #FDF6E4
}
// 代码块边框大小、粗细、颜色
.highlight, code, pre {
    border: 1px solid #d6d6d6;  
}

